
@using OBIS_MVC.Models.Entity_Framework;
@model List<TBL_OGRENCI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="margin-top:15px; text-align:center;">Öğrenci Listesi</h2>
<hr />
<a style="margin-bottom:15px;" href="#" class="btn btn-primary">Öğrenci Ekle</a>
<table class="myList">
    <thead>
        <tr style="text-align:center;">
            <th scope="col">ÖĞRENCİ AD SOYAD</th>
            <th scope="col">ÖĞRENCİ FOTOĞRAF</th>
            <th scope="col">ÖĞRENCİ CİNSİYET</th>
            <th scope="col">ÖĞRENCİ KULUP</th>
            <th scope="col">İŞLEMLER</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr style="text-align:center;">
            <td>@item.OGRAD @item.OGRSOYAD</td>
            <td>@item.OGRFOTOGRAF</td>
            <td>@item.OGRCINSIYET</td>
            <td>@item.OGRKULUP</td>
            <td>
                <a href="#" class="btn btn-warning">Güncelle</a>
                <a href="#" class="btn btn-danger">Sil</a>

            </td>
        </tr>
        }
    </tbody>
</table>


