@model OBIS_MVC.Models.Entity_Framework.TBL_OGRENCI

@{
    ViewBag.Title = "OgrenciGuncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; margin-top:15px">Öğrenci Güncelle</h2>
<hr />
@using (Html.BeginForm("OgrenciGuncelle", "OGRENCI", FormMethod.Post))
{
    <div class="form-group">
        <label style="font-weight:bold">Öğrenci Ad</label>
        @Html.TextBoxFor(m => m.OGRAD, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label style="font-weight:bold">Öğrenci Soyad</label>
        @Html.TextBoxFor(m => m.OGRSOYAD, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label style="font-weight:bold">Öğrenci Fotoğraf</label>
        @Html.TextBoxFor(m => m.OGRFOTOGRAF, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label style="font-weight:bold">Öğrenci Kulüp</label>
        @Html.TextBoxFor(m => m.OGRKULUP, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label style="font-weight:bold">Öğrenci Cinsiyet</label>
        @Html.TextBoxFor(m => m.OGRCINSIYET, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.OGRENCIID)
    <div style="margin-top:15px">
        <button class="btn btn-success">Kaydet</button>
    </div>
}

